*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: {
    family: $font-family;
    size: $font-size;
    weight: $font-weight;
  }
  color: $font-color;
  line-height: $font-line-height;
  background: $background;

  overflow: hidden;
  overflow-y: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  font: {
    family: $font-family-heading;
    weight: $font-weight-heading;
  }
  color: $font-color-heading;
  padding: 6px 0;
  margin: 12px 0;
  letter-spacing: 2px;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font: {
    size: $font-size-h6;
    family: $font-family;
  }
  color: $font-color;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  .half {
    width: 50%;
  }

  .third {
    width: 33%;
  }

  .fourth {
    width: 25%;
  }

  .fifth {
    width: 20%;
  }

  .two-thirds {
    width: 66%;
  }
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  padding-top: 70px;
  padding-bottom: 70px;
}

.page {
  position: relative;
  width: $theme-fullwidth;
  margin: 0 auto;
  height: auto;

  footer {
    height: 100px;
    background-color: $background-footer;
    color: $font-color;
  }

  main {
    background-color: $background-invert;
    color: $font-color-invert;
  }

  header {
    background-color: $background-header;

    .topline {
      background-color: $color-accent;
      height: 20px;
    }

    .navbar {
      height: 80px;
    }
  }
}

.navbar {
  .container {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .logo {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
    text-align: left;
  }

  .nav {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
    text-align: right;
  }
}

.logo > img {
  width: 150px;
  height: auto;
}

nav {
  ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: 12px 24px;
    }

    a {
      margin: 0;
      padding: 0;
      color: $color-nav-primary-link;
    }

    a:hover {
      color: $color-nav-primary-link-hover;
    }

    a:visited {
      color: $color-nav-primary-link-visited;
    }
  }
}

.banner {
  position: relative;
  background: transparent url("#{$banner}") center center no-repeat;
  background-size: cover;
  height: auto;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-shade-20;
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;

    h1 {
      display: block;
      color: $font-color-heading-invert;
      margin: 0.2em 0;
    }

    h5 {
      display: inline-block;
      width: auto;
      min-width: 7em;
      color: $font-color-heading-invert;
      border-bottom: 1px solid $color-accent;
    }

    p {
      color: $font-color;
      padding: 12px 0;
      margin: 0.4em 0;
    }
  }
}

main {
  section:nth-child(odd) {
    background-color: $background;
    color: $font-color;
  }

  section:nth-child(even) {
    background-color: $background-invert;
    color: $font-color-invert;
  }
}

footer {
  header {
    position: relative;
    font-family: $font-family-heading;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  header::after {
    position: absolute;
    content: "";
    width: 80%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $color-accent;
  }

  ul {
    list-style-type: none;
    margin: 0;
    width: 80%;
    padding: 6px 0;
  }

  li {
    padding: 3px 0;
  }

  a {
    text-decoration: none;
    color: $color-text-link;

    &:hover {
      color: $color-text-link-hover;
    }

    &:visited {
      color: $color-text-link-visited;
    }
  }
}
