@import "mixins";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  @include x-fullspace();
  font: {
    family: $font-family-body;
    size: $font-size-body;
    weight: $font-weight-normal;
  }
  line-height: $font-lineheight-body;
  background: $base-color;
  transform: translate3d(0, 0, 0);
  transition: transform 400ms cubic-bezier(0, 0, 0, 1.1);

  &.with-on-point {
    transform: translate3d(0, 60px, 0);
  }
}

body::after {
  content: url("../img/logo.png"), url("../img/img1.jpg"), url("../img/img2.jpg");
}

h1,
h2,
h3,
h4,
h5 {
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-family: $font-family-title, $font-family-body, sans-serif;
  font-weight: $font-weight-thin;
}

h1 {
  font-size: $font-size-h1;
  line-height: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
  line-height: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
  line-height: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
  line-height: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  line-height: $font-size-h5;
}

svg {
  vertical-align: middle;
}

p {
  padding: 0 0 10px;
  font-size: $font-size-body;
}

.row {
  position: relative;
  padding: $row-vertical-padding $row-horizontal-padding;
}

.uppercased {
  font-family: $font-family-title, $font-family-body, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.chevron-left,
.chevron-right,
.close,
.arrows>*,
a {
  cursor: pointer;
}

@keyframes flash-in {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  5% {
    transform: scale(1.4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.on-point-bar {
  position: absolute;
  top: -$on-point-bar-height;
  left: 0;
  width: 100%;
  height: $on-point-bar-height;
  line-height: $on-point-bar-height;
  background-color: $golden-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: flex-start;
  align-items: center;
  align-content: stretch;

  .on-point {
    width: $on-point-width;
    height: inherit;
    max-height: $on-point-bar-height;
    background-color: $accent-color;
    color: $white-color;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    h4 {
      margin: 0;
      padding: 0;
      line-height: $on-point-bar-height;
      animation: flash-in 1s cubic-bezier(.41, .91, .52, .94) 300ms 1 forwards;
      animation-play-state: paused;
      opacity: 0;
    }
  }

  .announcement {
    height: inherit;
    @include x-calc(width, '100% - #{$on-point-width}');
    background-color: $golden-color;
    color: $white-color;
    font-size: 0.85em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-start;
    align-items: center;
    align-content: stretch;

    transform: translate3d(10px, 0, 0);
    transition: all 600ms cubic-bezier(.67, .54, .43, .78);
    opacity: 0;

    .rotator {
      @include x-calc(width, "100% - #{$on-point-pager-width} * 3");
      width: 100%;
      height: inherit;
      line-height: $on-point-bar-height;
      overflow: hidden;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-flow: flex-start;
      align-items: center;
      align-content: stretch;
    }

    .pager,
    .arrows,
    .close {
      width: $on-point-pager-width;
      height: inherit;
      line-height: $on-point-bar-height;
      text-align: center;
    }
  }

  body.with-on-point & {
    h4 {
      animation-play-state: running;
    }

    .announcement {
      transition-delay: 300ms;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

.rotator>.message {
  width: 100%;
  height: inherit;
  line-height: $on-point-bar-height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: flex-start;
  align-items: center;
  align-content: stretch;

  .item {
    display: inline-block;
    width: 100%;
    min-width: 100%;
    height: inherit;
    line-height: $on-point-bar-height;
    padding: 0 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.app>.nav-bar {
  position: fixed;
  width: 100%;
  height: $navbar-height;
  background-color: rgba($base-color, 0.3);
  padding: 0 60px;
  color: $white-color;
  box-sizing: border-box;
  z-index: 99999;

  .container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-start;
    align-items: center;
    align-content: stretch;
    height: inherit;
    overflow: visible;
  }
}

.logo {
  text-align: left;
  background: transparent url("../img/logo.png") no-repeat center center;
  background-size: contain;
  width: 300px;
  height: inherit;
  border: 0;
  color: rgba($white-color, 0);
  text-decoration: none;
}

nav {
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 300px);

  ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;

    >li {
      position: relative;
      display: inline-block;
      height: inherit;
      font-size: 0.8rem;
      padding: 16px;
      margin: 0;
      box-sizing: border-box;
    }
  }
}

.social {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba($accent-color, 0.5);
  height: 50px;
  width: auto;
  vertical-align: middle;

  svg {
    display: inline-block;
    fill: $white-color;
    width: 16px;
    height: 16px;
    padding: 16px;
  }

  ul {
    text-align: right;
    width: auto;
    vertical-align: middle;
    height: inherit;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      width: 36px;
      height: 36px;
      padding: 0;
      margin: 0;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut .5s cubic-bezier(.67, .54, .43, .78) 1 forwards;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;

  .overlay,
  .next-slide,
  .current-slide {
    position: absolute;
    @include x-fullspace();
    top: 0;
    left: 0;
  }

  .overlay {
    opacity: 1;
    background-color: rgba($base-color, 0.5);
    z-index: 4;
  }

  .next-slide,
  .current-slide {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    transform: translateZ(0, 0, 0);
  }

  .next-slide {
    background-image: url("../img/img2.jpg");
    z-index: 2;
  }

  .current-slide {
    background-image: url("../img/img1.jpg");
    z-index: 3;
  }
}

.banner>.counter {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  height: 20px;
  text-align: center;
  min-height: 20px;
  z-index: 6;

  >.circle {
    display: inline-block;
    border: 1px solid $white-color;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 0 6px;
    background-color: rgba($white-color, 0);

    &:hover {
      background-color: rgba($white-color, 0.5);
    }

    &.current {
      background-color: rgba($white-color, 1);
    }
  }
}

.banner>.content {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 100px;
  left: 0;
  color: $white-color;
  vertical-align: bottom;
  z-index: 5;

  h1 {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h5 {
    display: inline-block;
    width: 4em;
    padding-bottom: 10px;
    border-bottom: 1px solid $accent-color;
  }

  svg {
    width: 14px;
    height: 14px;
    fill: $accent-color;
    margin-right: 4px;
  }

  p {
    font-size: 13px;
    line-height: 1.4em;
    padding: 0;
    margin: 0 0 10px;
    width: 400px;
  }

  aside {
    display: block;
    margin-top: 16px;
  }
}

aside>a {
  text-decoration: none;
  font-family: $font-family-title, $font-family-body, sans-serif;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: 10px;

  .title {
    position: relative;
    padding: 7px 0;
  }

  .title::after {
    content: "";
    position: absolute;
    border: 1px solid rgba($accent-color, 0);
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover>.title {
    color: $accent-color;
  }

  &:hover>.title::after {
    content: "";
    border: 1px solid $accent-color;
  }
}

.navigate {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  color: $white-color;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-between;
  z-index: 5;

  >.prev {
    padding-left: 100px;
  }

  >.next {
    padding-right: 100px;
  }

  .prev,
  .next {
    color: $lightgrey-color;
    font-size: 13px;

    span.title {
      position: relative;
      color: $white-color;
      margin: 0 10px;
      padding: 7px 0;
    }

    span.title::after {
      position: absolute;
      content: "";
      border: 1px solid rgba($accent-color, 0);
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover span.title::after {
      content: "";
      border: 1px solid $accent-color;
    }
  }
}
