#download-our-mobile-app {
  padding-top: 185px;
  color: #fff;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 10;
}

#download-our-mobile-app .image {
  position: absolute;
  background-size: 800px;
}

#download-our-mobile-app .hide-on-desktop {
  display: none;
}

#download-our-mobile-app h1 {
  display: inline-block;
  color: #fff !important;
  letter-spacing: .1em;
  white-space: nowrap;
  font-size: 48px;
  padding-left: 0px;
  line-height: 1.2;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  #download-our-mobile-app .hide-on-mobile {
    display: none;
  }
}