<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Marine Corps Template</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
  <div class="on-point" id="on-point" style="display: none;">
    <div class="heading">
      <h4>On Point</h4>
    </div>
    <div class="announcement" id="announcement">
      <div class="rotator">
        <div id="on-point-message" class="message">
          <div class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Read more...</div>
          <div class="item">Vestibulum porttitor, ipsum eget feugiat lobortis, purus purus malesuada...</div>
          <div class="item">Etiam semper dolor justo, tincidunt vestibulum libero tincidunt sed. Read more.</div>
        </div>
      </div>
      <div id="on-point-pager" class="pager"></div>
      <div class="arrows">
        <!--<i id="on-point-chevron-left" data-feather="chevron-left"></i>-->
        <!--<i id="on-point-chevron-right" data-feather="chevron-right"></i>-->
        <i class="fas fa-angle-left" id="on-point-chevron-left"></i>
        <i class="fas fa-angle-right" id="on-point-chevron-right"></i>
      </div>
      <div class="close">
        <!--<i id="on-point-close" data-feather="x"></i>-->
        <i class="fas fa-times" id="on-point-close"></i>
      </div>
    </div>
  </div>
  </div>
  <!-- End of On-Point -->
  <!-- Start App -->
  <div id="app" class="app">
    <!-- Start Header -->
    <header class="navbar">
      <!-- NavBar -->
      <div class="wrapper">
        <!-- Start Logo -->
        <a class="logo" id="logo" href="/">Marine Corps</a>
        <!-- End Logo -->
        <!-- Start Nav -->
        <nav role="navigation">
          <button><i class="fas fa-bars"></i></button>
          <ul id="navbar-nav" class="navbar-nav">
            <li><a href="#"><span>Units</span></a></li>
            <li><a href="#"><span>News</span></a>
              <ul>
                <li><a href="#">Special Features</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Marines TV</a>
                  <ul>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a>
                      <ul>
                        <li><a href="#">test</a></li>
                        <li><a href="#">test</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Disabled item</a></li>
                    <li><a href="#">One more link</a></li>
                  </ul>
                </li>
                <li><a href="#">Marines Minute Audio</a></li>
                <li><a href="#">Publications</a></li>
                <li><a href="#">Social Media</a></li>
              </ul>
            </li>
            <li><a href="#"><span>Photos</span></a></li>
            <li><a href="#"><span>Leaders</span></a></li>
            <li><a href="#"><span>Marines</span></a></li>
            <li><a href="#"><span>Family</span></a></li>
            <li><a href="#"><span>Community</span></a>
              <ul>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Disabled item</a></li>
                <li><a href="#">One more link</a></li>
              </ul>
            </li>
            <li><i class="fa fa-search" id="search-button"></i></li>
          </ul>
        </nav>
        <!-- End Nav -->
      </div>
      <!-- End NavBar -->
      <!-- SecondaryBar -->
      <div class="secondarybar">
        <!-- Breadcrumb -->
        <div class="breadcrumbs">
          <a href="#">Home</a> <i class="fas fa-angle-right"></i> Units
        </div>
        <!-- End Breadcrumb -->
        <!-- Start Social -->
        <div class="social">
          <div class="search" id="search-form">
            <div class="wrapper">
              <input type="search" name="search" value="" placeholder="Search..." />
              <button>
                <!--<span class="lnr lnr-cross"></span>--><i class="fas fa-times" id="on-point-close"></i></button>
            </div>
          </div>
          <div class="icons" id="social-icons">
            <a href="https://www.facebook.com/marines"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/usmc"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/Marines"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/marines/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.flickr.com/photos/marine_corps/"><i class="fab fa-flickr"></i></a>
            <a href="#"><i class="fa fa-rss"></i></a>
          </div>
        </div>
        <!-- End Social -->
      </div>
      <!-- End SecondaryBar -->
    </header>
    <!-- End Header -->

    <!-- Start Banner -->
    <div class="banner" id="banner">
      <div class="next-slide">
        <div class="navigate">
          <div class="container">
            <div class="row">
              <a class="col-6 prev">
                <i class="fas fa-arrow-left"></i>
                <!--<i class="lnr lnr-arrow-left"></i>-->&xlarr; Previous
                <span class="title" id="prev-slide-title">VMGR-152'S PME</span>
              </a>
              <a class="col-6 next">
                <span class="title" id="next-slide-title">Secnav Visits America</span> Next
                <!--<i class="lnr lnr-arrow-right"></i>-->&xrarr;
              </a>
            </div>
          </div>
        </div>
        <div class="overlay">
          <a class="video-overlay" href="#" data-load="videomodal1">
            <button><i class="fas fa-play"></i></button>
            <span>Play</span>
          </a>
        </div>
        <div class="content">
          <div class="row">
            <h5></h5>
            <h1></h1>
            <p></p>
            <aside>
              <a href="#">
                <i class="fas fa-plus-circle"></i>
                <span class="title">Read more</span>
              </a>
              <a href="#" class="video-trigger">
                <i class="fas fa-play-circle"></i>
                <span class="title">Watch Video</span>
              </a>
            </aside>
          </div>
        </div>
      </div>
      <div class="current-slide">
        <div class="navigate">
          <div class="container">
            <div class="row">
              <a class="col-6 prev">
                &xlarr; Previous
                <span class="title" id="prev-slide-title">VMGR-152'S PME</span>
              </a>
              <a class="col-6 next">
                <span class="title" id="next-slide-title">Secnav Visits America</span> Next
                &xrarr;
              </a>
            </div>
          </div>
        </div>
        <div class="overlay">
          <a class="video-overlay" data-load="videomodal1">
            <button><i class="fas fa-play"></i></button>
            <span>Play</span>
          </a>
        </div>
        <div class="content">
          <div class="container">
            <h4>01</h4>
            <h1>Test Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              convallis porta molestie. Etiam sed nulla bibendum, iaculis purus
              et, elementum ipsum.</p>
            <aside>
              <a href="#">
                <i class="fas fa-plus-circle"></i>
                <span class="title">Read more</span>
              </a>
              <a href="#">
                <i class="fas fa-play-circle"></i>
                <span class="title">Watch Video</span>
              </a>
            </aside>
          </div>
        </div>
      </div>
      <div class="counter">
        <div class="circle current"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>

    <!-- modal 1 -->
    <div class="video-modal" id="videomodal1">
      <div class="wrapper">
        <div class="video-container">
          <video controls>
            <source src="https://cdn.dvidshub.net/media/video/1803/DOD_105359540/DOD_105359540-1920x1080-6221k.mp4" type="video/mp4">
            <p>Your browser doesn't support HTML5 video. Here is a <a href="https://cdn.dvidshub.net/media/video/1803/DOD_105359540/DOD_105359540-1920x1080-6221k.mp4">link to the video</a> instead.</p>
          </video>
        </div>
      </div>
    </div>

    <!-- End Banner -->
    <!-- Start Slides -->
    <!-- Slide: Connect With Us -->
    <section class="bg secondary" id="connect-with-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 style="color: white;">Connect with us</h2>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-4">icon</div>
              <div class="col-md-4">icon</div>
              <div class="col-md-4">icon</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Slide: Featured Stories -->
    <section class="bg septenary" id="featured-stories">
      <div class="container">
        <div class="row">
          <div class="col-6">col with title</div>
          <div class="col-6">


          </div>
        </div>
      </div>
    </section>

    <!-- Slide: Messages -->
    <section class="bg primary" id="messages">
      <div class="container">
        <div class="row">test</div>
      </div>
    </section>

    <!-- Slide: Explore Photos -->
    <section class="bg septenary" id="explore-photos">
      <div class="container">
        <div class="row">
          test
        </div>
      </div>
    </section>

    <!-- Slide: Latest Tweets -->
    <section class="bg tertiary" id="latest-tweets">
      <div class="container">
        <div class="row">
          test
        </div>
      </div>
    </section>

    <!-- Slide: Marines TV -->
    <section class="bg primary" id="marines-tv">
      <div class="container">
        <div class="row">
          test
        </div>
      </div>
    </section>

    <!-- Slide: In The News -->
    <section class="bg septenary" id="in-the-news">
      <div class="container">
        <div class="row">
          test
        </div>
      </div>
    </section>
    <!-- End Slides -->
    <footer>
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-lg-4 col-xl-4">
            <a class="logo" href="/">Marine Corps</a>
          </div>
          <div class="col-12 col-lg-3 col-xl-3">
            <header>About</header>
            <ul>
              <li><a href="#">Units</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Photos</a></li>
              <li><a href="#">Leaders</a></li>
              <li><a href="#">Marines</a></li>
              <li><a href="#">Family</a></li>
              <li><a href="#">Community Relations</a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-5">
            <div class="row no-gutters">
              <div class="col-lg-6 col-xl-6">
                <header>Connect</header>
                <ul>
                  <li><a href="#">RSS Feed</a></li>
                  <li><a href="#">Social Media</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-6 col-xl-6">
                <header>Links</header>
                <ul>
                  <li><a href="#">FOIA</a></li>
                  <li><a href="#">No Fear Act</a></li>
                  <li><a href="#">USA.giv</a></li>
                  <li><a href="#">Accessibility</a></li>
                </ul>
              </div>
            </div>
            <div class="row no-gutters">
              <header class="download">Download Our Mobile App</header>
            </div>
            <div class="row no-gutters">
              <div class="col-5 col-md-3 col-sm-5">
                <a href="https://itunes.apple.com/us/app/marinesmobile/id947183374?mt=8" target="_blank">
                  <img src="img/apple-store@2x.png" width="135" height="36">
                </a>
              </div>
              <div class="offset-1 offset-sm-1 col-5 col-md-6 col-sm-5">
                <a href="https://play.google.com/store/apps/details?id=com.marines.mil&amp;hl=en" target="_blank">
                  <img src="img/google-store@2x.png" width="135" height="36">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col offset-lg-4 offset-xl-4">
            <p class="copyright">
              <a href="#">Privacy Policy</a>
              <a href="#">Sitemap</a>
              <span> &copy; 2018 Official U.S. Marine Corps Website</span>
            </p>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <!-- End App -->
</body>

</html>