<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Marine Corps Template</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <!--link rel="stylesheet" href="fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="fonts/ionicons.min.css">
  <link rel="stylesheet" href="fonts/material-icons.min.css">
  <link rel="stylesheet" href="fonts/simple-line-icons.min.css>
  <script type="text/javascript" src="fonts/fontawesome-all.min.js"></script-->
</head>

<body>
  <!-- Start On-Point: replace with existing DNN module -->
  <div class="on-point" id="on-point">
    <div class="heading">
      <h4>On Point</h4>
    </div>
    <div class="announcement" id="announcement">
      <div class="rotator">
        <div id="on-point-message" class="message">
          <div class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Read more...</div>
          <div class="item">Vestibulum porttitor, ipsum eget feugiat lobortis, purus purus malesuada...</div>
          <div class="item">Etiam semper dolor justo, tincidunt vestibulum libero tincidunt sed. Read more.</div>
        </div>
      </div>
      <div id="on-point-pager" class="pager"></div>
      <div class="arrows">
        <i id="on-point-chevron-left" data-feather="chevron-left"></i>
        <i id="on-point-chevron-right" data-feather="chevron-right"></i>
      </div>
      <div class="close"><i id="on-point-close" data-feather="x"></i></div>
    </div>
  </div>
  <!-- End of On-Point -->
  <!-- Start App -->
  <div id="app" class="app">
    <!-- Start NavBar -->
    <div class="navbar">
      <div class="wrapper">
        <!-- Start Logo -->
        <a class="logo" id="logo" href="/">Marine Corps</a>
        <!-- End Logo -->
        <!-- Start Nav -->
        <nav>
          <ul>
            <li><a href="#"><span>Units</span></a></li>
            <li><a href="#"><span>News</span> <i data-feather="chevron-down"></i></a></li>
            <li><a href="#"><span>Photos</span></a></li>
            <li><a href="#"><span>Leaders</span></a></li>
            <li><a href="#"><span>Marines</span></a></li>
            <li><a href="#"><span>Family</span></a></li>
            <li><a href="#"><span>Community</span> <i data-feather="chevron-down"></i></a></li>
            <li><i class="fa fa-search" id="search-button"></i></li>
          </ul>
        </nav>
        <!-- End Nav -->
      </div>
      <!-- Start Social -->
      <div class="social">
        <div class="search" id="search-form">
          <div class="wrapper">
            <input type="search" name="search" value="" placeholder="Search..." />
            <button><span class="lnr lnr-cross"></span></button>
          </div>
        </div>
        <div class="icons" id="social-icons">
          <a href="https://www.facebook.com/marines" target="_blank" class="facebook" id="facebook-icon">Facebook</a>
          <a href="https://twitter.com/usmc" target="_blank" class="twitter" id="twitter-icon">Twitter</a>
          <a href="https://www.youtube.com/Marines" target="_blank" class="youtube" id="youtube-icon">YouTube</a>
          <a href="https://www.instagram.com/marines/" target="_blank" class="instagram" id="instagram-icon">Instagram</a>
          <a href="https://www.flickr.com/photos/marine_corps/" target="_blank" class="flickr" id="flickr-icon">Flickr</a>
          <a href="#" target="_blank" class="rss" id="rss-icon">RSS</a>
        </div>
      </div>
      <!-- End Social -->
    </div>
    <!-- End NavBar -->
    <!-- Start Banner -->
    <div class="banner" id="banner">
      <div class="next-slide">
        <div class="navigate">
          <div class="container">
            <div class="row">
              <a class="col-6 prev">&xlarr; Previous <span class="title" id="prev-slide-title">VMGR-152'S PME</span></a>
              <a class="col-6 next"><span class="title" id="next-slide-title">Secnav Visits America</span> Next &xrarr;</a>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
        <div class="content">
          <div class="row">
            <h5></h5>
            <h1></h1>
            <p></p>
            <aside>
              <a href="#">
                <i class="fas fa-plus-circle"></i>
                <span class="title">Read more</span>
              </a>
              <a href="#">
                <i class="fas fa-play-circle"></i>
                <span class="title">Watch Video</span>
              </a>
            </aside>
          </div>
        </div>
      </div>
      <div class="current-slide">
        <div class="navigate">
          <div class="container">
            <div class="row">
              <a class="col-6 prev">&xlarr; Previous <span class="title" id="prev-slide-title">VMGR-152'S PME</span></a>
              <a class="col-6 next"><span class="title" id="next-slide-title">Secnav Visits America</span> Next &xrarr;</a>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
        <div class="content">
          <div class="container">
            <h5>01</h5>
            <h1>Test Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              convallis porta molestie. Etiam sed nulla bibendum, iaculis purus
              et, elementum ipsum. Morbi nec magna mollis diam lobortis scelerisque
              quis non lorem. Integer dapibus sodales sapien at aliquam. Nullam
              tempor malesuada massa at volutpat.</p>
            <aside>
              <a href="#">
                <i class="fas fa-plus-circle"></i>
                <span class="title">Read more</span>
              </a>
              <a href="#">
                <i class="fas fa-play-circle"></i>
                <span class="title">Watch Video</span>
              </a>
            </aside>
          </div>
        </div>
      </div>
      <div class="counter">
        <div class="circle current"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <!-- End Banner -->
    <!-- Start Slides -->
    <div class="slide" id="connect-with-us"></div>
    <div class="slide" id="featured-stories"></div>
    <div class="slide" id="messages"></div>
    <div class="slide" id="explore-photos"></div>
    <div class="slide" id="latest-tweets"></div>
    <div class="slide" id="marines-tv"></div>
    <div class="slide" id="in-the-news"></div>
    <!-- End Slides -->
    <footer>
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-lg-4 col-xl-4">
            Logo
          </div>
          <div class="col-12 col-lg-3 col-xl-3">
            <header>About</header>
            <ul>
              <li><a href="#">Units</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Photos</a></li>
              <li><a href="#">Leaders</a></li>
              <li><a href="#">Marines</a></li>
              <li><a href="#">Family</a></li>
              <li><a href="#">Community Relations</a></li>
            </ul>
          </div>
          <div class="col-12 col-lg-5">
            <div class="row no-gutters">
              <div class="col-lg-6 col-xl-6">
                <header>Connect</header>
                <ul>
                  <li><a href="#">RSS Feed</a></li>
                  <li><a href="#">Social Media</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-lg-6 col-xl-6">
                <header>Links</header>
                <ul>
                  <li><a href="#">FOIA</a></li>
                  <li><a href="#">No Fear Act</a></li>
                  <li><a href="#">USA.giv</a></li>
                  <li><a href="#">Accessibility</a></li>
                </ul>
              </div>
            </div>
            <div class="row no-gutters">
              <header class="download">Download Our Mobile App</header>
            </div>
            <div class="row no-gutters">
              <div class="col-5 col-md-3 col-sm-5">
                <a href="https://itunes.apple.com/us/app/marinesmobile/id947183374?mt=8" target="_blank">
                  <img src="http://www.symboit.com/SymboitCMS/MMPhase1/assets/img/MobileApp/apple-store@2x.png" width="135" height="36">
                </a>
              </div>
              <div class="offset-1 offset-sm-1 col-5 col-md-6 col-sm-5">
                <a class="moblie-move" href="https://play.google.com/store/apps/details?id=com.marines.mil&amp;hl=en" target="_blank">
                  <img src="http://www.symboit.com/SymboitCMS/MMPhase1/assets/img/MobileApp/google-store@2x.png" width="135" height="36">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row"></div>
      </div>
    </footer>

  </div>
  <!-- End App -->
  <script>
    // feathers-icons package for the theme
    feather.replace({
      width: 18,
      height: 18
    });
  </script>
</body>

</html>
