<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Marine Corps Template</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
  <!-- Start On-Point: replace with existing DNN module -->
  <div class="on-point" id="on-point">
    <div class="heading">
      <h4>On Point</h4>
    </div>
    <div class="announcement" id="announcement">
      <div class="rotator">
        <div id="on-point-message" class="message">
          <div class="item">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Read more...</div>
          <div class="item">Vestibulum porttitor, ipsum eget feugiat lobortis, purus purus malesuada...</div>
          <div class="item">Etiam semper dolor justo, tincidunt vestibulum libero tincidunt sed. Read more.</div>
        </div>
      </div>
      <div id="on-point-pager" class="pager"></div>
      <div class="arrows">
        <i id="on-point-chevron-left" data-feather="chevron-left"></i>
        <i id="on-point-chevron-right" data-feather="chevron-right"></i>
      </div>
      <div class="close"><i id="on-point-close" data-feather="x"></i></div>
    </div>
  </div>
  <!-- End of On-Point -->
  <!-- Start App -->
  <div id="app" class="app">
    <!-- Start NavBar -->
    <div class="nav-bar">
      <div class="container">
        <!-- Start Logo -->
        <a class="logo" id="logo" href="/">Marine Corps</a>
        <nav>
          <ul>
            <li><a href="#">Units</a></li>
            <li><a href="#">News <i data-feather="chevron-down"></i></a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Leaders</a></li>
            <li><a href="#">Marines</a></li>
            <li><a href="#">Family</a></li>
            <li><a href="#">Community</a> <i data-feather="chevron-down"></i></li>
            <li><i class="fa fa-search" id="search-button"></i></li>
          </ul>
        </nav>
      </div>
      <div class="social">
        <div class="search" id="search-form">
          <div class="wrapper">
            <input type="search" name="search" value="" placeholder="Search..." />
            <button><span class="lnr lnr-cross"></span></button>
          </div>
        </div>
        <div class="icons" id="social-icons">
          <a href="https://www.facebook.com/marines" target="_blank" class="facebook" id="facebook-icon">Facebook</a>
          <a href="https://twitter.com/usmc" target="_blank" class="twitter" id="twitter-icon">Twitter</a>
          <a href="https://www.youtube.com/Marines" target="_blank" class="youtube" id="youtube-icon">YouTube</a>
          <a href="https://www.instagram.com/marines/" target="_blank" class="instagram" id="instagram-icon">Instagram</a>
          <a href="https://www.flickr.com/photos/marine_corps/" target="_blank" class="flickr" id="flickr-icon">Flickr</a>
          <a href="#" target="_blank" class="rss" id="rss-icon">RSS</a>
        </div>
      </div>
    </div>
    <div class="banner" id="banner">
      <div class="next-slide">
        <div class="navigate">
          <a class="prev uppercased">&xlarr; Previous <span class="title" id="prev-slide-title">Title-</span></a>
          <a class="next uppercased"><span class="title" id="next-slide-title">Title+</span> Next &xrarr;</a>
        </div>
        <div class="overlay"></div>
        <div class="content">
          <div class="row">
            <h5></h5>
            <h1></h1>
            <p></p>
            <aside>
              <a href="#">
                <i class="fas fa-plus-circle"></i>
                <span class="title">Read more</span>
              </a>
              <a href="#">
                <i class="fas fa-play-circle"></i>
                <span class="title">Watch Video</span>
              </a>
            </aside>
          </div>
        </div>
      </div>
      <div class="current-slide">
        <div class="navigate">
          <a class="prev uppercased">&xlarr; Previous <span class="title" id="prev-slide-title">--Title</span></a>
          <a class="next uppercased"><span class="title" id="next-slide-title">Title++</span> Next &xrarr;</a>
        </div>
        <div class="overlay"></div>
        <div class="content">
          <div class="container">
            <h5>01</h5>
            <h1>Test Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
              convallis porta molestie. Etiam sed nulla bibendum, iaculis purus
              et, elementum ipsum. Morbi nec magna mollis diam lobortis scelerisque
              quis non lorem. Integer dapibus sodales sapien at aliquam. Nullam
              tempor malesuada massa at volutpat.</p>
            <aside>
              <a href="#">
                <i class="fas fa-plus-circle"></i>
                <span class="title">Read more</span>
              </a>
              <a href="#">
                <i class="fas fa-play-circle"></i>
                <span class="title">Watch Video</span>
              </a>
            </aside>
          </div>
        </div>
      </div>
      <div class="counter"></div>
    </div>
  </div>
  <!-- End App -->
  <script>
    // feathers-icons package for the theme
    feather.replace({
      width: 18,
      height: 18
    });
  </script>
</body>

</html>
