.on-point-bar {
  transform-origin: bottom;
  transition: transform 400ms cubic-bezier(.41,.91,.52,.94);
  transform: rotateX(90deg) scaleX(1.1) translate3d(0, 0, 0);
  transform-style: preserve-3d;
}

body.with-on-spot .on-point-bar {
  transform: rotateX(0deg) scaleX(1);
}
