.side-menu {
  width: 100%;
  max-width: 600px;
  margin: 0;
  border-bottom: 1px solid $auxiliary2;

  &.animated label::before {
    transition: transform 0.3s;
  }

  ul {
    display: none;

    label::before {
      left: 0;
    }

    label.rotate::before {
      position: absolute;
      top: 0;
      left: -6px;
      width: 34px;
      bottom: 0;
      content: "";
      background-image: url("../img/icon-double-arrow.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 16px 16px;
    }
  }

  li {
    user-select: none;
  }

  > li > label {
    font-size: 18px;
    letter-spacing: $letter-spacing;
    font-family: $font-family-title;
    font-weight: $font-weight-title;
    text-transform: uppercase;
    border-top: 1px solid $auxiliary2;
  }

  input[type=checkbox] {
    position: absolute;
    font-size: 1rem;
    opacity: 0;
  }

  label,
  a {
    position: relative;
    display: block;
    padding: 12px 0;
    font-size: 0.85rem;
    color: $secondary;
    text-decoration: none;
  }

  label {
    padding: 12px 12px 12px 24px;
    position: relative;
    font-weight: bold;
    cursor: pointer;

    > span.lnr {
      position: absolute;
      right: 0;
      transform: translate3d(0, 0, 0);
      transition: transform 300ms $ease-in;
    }

    &.rotate > span.lnr {
      transform: rotate(180deg);
    }
  }

  ul label,
  ul a {
    padding-left: 24px;
  }

  label::before {
    left: 24px;
  }

  label::after {
    left: 53px;
  }

  ul label::after,
  ul a::after {
    left: 77px;
  }

  // ul ul label,
  // ul ul a {
  //   padding-left: 36px;
  // }

  // ul ul label::before {
  //   left: 72px;
  // }

  // ul ul label::after,
  // ul ul a::after {
  //   left: 101px;
  // }

}

.side-menu label input[type=checkbox]:checked + label + ul,
.side-menu label input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  display: block;
}
