*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: {
    family: $font-family;
    size: $font-size;
    weight: $font-weight;
  }
  color: $color;
  background: $background;
  line-height: $line-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-variant-ligatures: none;
  text-shadow: $text-shadow-color 0 0 1px;

  // body animation prep for on-point
  transform: translate3d(0, 0, 0);
  transition: transform 400ms $ease-in;
  perspective: 1000px;

  &.with-on-point {
    transform: translate3d(0, $height-onpoint, 0);
  }

  &::after {
    content: url("#{$logo}"), url("#{$banner}");
  }
}

h1,
h2,
h3,
h4,
h5 {
  font: {
    family: $font-family-heading;
    weight: $font-weight-thin;
  }
  color: $color-heading;
  letter-spacing: $letter-spacing-heading;
  line-height: $line-height-heading;
  text-transform: uppercase;
  margin: $margin-base * 5 0 $margin-base * 3;
  padding: 0;
}

h1 {
  font-size: $font-size-h1;
  line-height: $font-size-h1;

  @media screen and (max-width: $media-breakpoint-lg) {
    font-size: $font-size-h1-mobile;
    line-height: 1;
  }
}

h2 {
  font-size: $font-size-h2;
  line-height: $font-size-h2;

  @media screen and (max-width: $media-breakpoint-lg) {
    font-size: $font-size-h2-mobile;
    line-height: 1;
  }
}

h3 {
  font-size: $font-size-h3;
  line-height: $font-size-h3;

  @media screen and (max-width: $media-breakpoint-lg) {
    font-size: $font-size-h3-mobile;
    line-height: 1;
  }
}

h4 {
  font-size: $font-size-h4;
  line-height: $font-size-h4;

  @media screen and (max-width: $media-breakpoint-lg) {
    font-size: $font-size-h4-mobile;
    line-height: 1;
  }
}

h5 {
  font-size: $font-size-h5;
  line-height: $font-size-h5;

  @media screen and (max-width: $media-breakpoint-lg) {
    font-size: $font-size-h5-mobile;
    line-height: 1;
  }
}

h6 {
  font: {
    family: $font-family;
    size: $font-size-h6;
    weight: $font-weight-thin;
  }
  line-height: $font-size-h6;
  letter-spacing: $letter-spacing-heading;
  text-transform: uppercase;
  margin: $margin-base * 3 0 $margin-base * 2;
  padding: 0;

  @media screen and (max-width: $media-breakpoint-lg) {
    font-size: $font-size-h6-mobile;
    line-height: 1;
  }
}

// underline animation for links
a > span {
  position: relative;
  padding: $padding-base 0;
}

a > span::after {
  content: "";
  position: absolute;
  border: 1px;
  border-style: solid;
  border-color: rgba($color-septenary, 0);
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left;
  transform: scaleX(0.01);
  transition: all 400ms $ease-out;
}

a:hover > span::after {
  content: "";
  transform: scaleX(1);
  border-color: rgba($color-septenary, 1);
}

.logo,
.chevron-left,
.chevron-right,
.close,
.arrows>*,
a {
  cursor: pointer;
}

svg {
  vertical-align: middle;
}

p {
  padding: 0 0 $padding-base * 3;
  font-size: $font-size;
}

// overriding bootstrap
.container {
  @media (min-width: $media-breakpoint-xl) {
    max-width: 1261px;
  }

  @media screen and (max-width: $media-breakpoint-lg) {
    max-width: 100vw;
    padding-left: $padding-base * 5;
    padding-right: $padding-base * 5;
  }
}

@keyframes flash-in {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  5% {
    transform: scale(1.4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// on-point
// please adjust code below (code from prototypes)
// temporary off via inline display: none in html
.on-point {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: flex-start;
  align-items: center;
  align-content: stretch;

  position: absolute;
  top: -$height-onpoint;
  left: 0;
  width: 100%;
  height: $height-onpoint;
  line-height: $height-onpoint;
  background-color: $color-highlight;

  .heading {
    width: $width-onpoint;
    height: inherit;
    max-height: $height-onpoint;
    background-color: $color-accent;
    color: $color-septenary;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;

    h4 {
      margin: 0;
      padding: 0;
      color: $color-heading-invert;
      line-height: $height-onpoint;
      animation: flash-in 1s $ease-out 300ms 1 forwards;
      animation-play-state: paused;
      opacity: 0;
    }
  }

  .announcement {
    height: inherit;
    @include x-calc(width, '100% - #{$width-onpoint}');
    background-color: $color-highlight;
    color: $color-septenary;
    font-size: 0.85rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-start;
    align-items: center;
    align-content: stretch;

    transform: translate3d(10px, 0, 0);
    transition: all 600ms cubic-bezier(.67, .54, .43, .78);
    opacity: 0;

    .rotator {
      @include x-calc(width, "100% - #{$width-onpoint-pager} * 3");
      width: 100%;
      height: inherit;
      line-height: $height-onpoint;
      overflow: hidden;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-flow: flex-start;
      align-items: center;
      align-content: stretch;
    }

    .pager,
    .arrows,
    .close {
      width: $width-onpoint-pager;
      height: inherit;
      line-height: $height-onpoint;
      text-align: center;
    }
  }

  .message {
    width: 100%;
    height: inherit;
    line-height: $height-onpoint;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-start;
    align-items: center;
    align-content: stretch;

    .item {
      display: inline-block;
      width: 100%;
      min-width: 100%;
      height: inherit;
      line-height: $height-onpoint;
      padding: 0 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  body.with-on-point & {
    h4 {
      animation-play-state: running;
    }

    .announcement {
      transition-delay: 300ms;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

// breadcrumbs
.breadcrumbs {
  position: absolute;
  top: 100%;
  left: 0;
  right: 288px;
  height: 28px;
  width: auto;
  background: rgba($color-septenary, 0.3);
  color: $color;
  font-size: $font-size-3x-small;
  font-weight: $font-weight-2x-bold;
  padding: 0;
  z-index: 10;

  a,
  a:hover,
  a:active,
  a:visited {
    color: $color;
    text-decoration: none;
    font-weight: $font-weight;
    padding: 0;
  }

  a:first-child {
    padding-left: $padding-base * 4;
  }

  i {
    padding: 0 $padding-base;
  }
}

.social {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 288px;
  height: $height-social;
  background: rgba($color-compliment, 0.75);
  vertical-align: middle;
  overflow: hidden;
  z-index: 1;

  .search {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: none;

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: $padding-large;
      box-sizing: border-box;
      opacity: 0; // keep at 0 for animation purpose
    }

    button {
      position: absolute;
      top: 16px;
      right: 14px;
      color: $color-septenary;
      font-size: 24px;
      background: none;
      border: 0;
    }

    input {
      position: relative;
      width: 100%;
      height: 100%;
      padding-left: $padding;
      padding-right: 28px;
      background: transparent;
      color: $color-septenary;
      border: 1px solid $color-septenary;
    }

    input:focus {
      outline-color: rgba($color-septenary, 0.01);
    }

    input::placeholder {
      color: $color-septenary;
    }
  }

  .icons {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    white-space: nowrap;
    z-index: 7;

    >a {
      position: relative;
      display: inline-block;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      color: $color-septenary;
      text-decoration: none;
    }

    i {
      display: inline-block;
      width: 48px;
      height: $height-social;
      line-height: $height-social;
      text-align: center;
    }
  }

  @media screen and (max-width: $media-breakpoint-lg) {
    display: none;
  }
}

// application layout
.app {
  position: relative;
  width: $theme-fullwidth;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}

@keyframes navbar-rollin {
  0% {
    opacity: 0;
    transform: translate3d(0, -$height-navbar, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  height: $height-navbar;
  background-color: $color-shade-50;
  color: $color-septenary;
  animation: navbar-rollin 800ms $ease-in 300ms 1 forwards;
  opacity: 0;
  z-index: 99999;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-start;
    align-items: center;
    align-content: stretch;
    height: inherit;
    overflow: visible;
    padding-left: 36px;
    padding-right: 36px;

    >.logo {
      text-align: left;
      background: transparent url("#{$logo}") no-repeat center center;
      background-size: contain;
      width: 350px;
      height: inherit;
      border: 0;
      color: rgba($color-septenary, 0);
      text-decoration: none;
    }
  }

  @media screen and (max-width: $media-breakpoint-xl) {
    .wrapper {
      >.logo {
        width: 250px;
      }
    }
  }

  @media screen and (max-width: $media-breakpoint-xs) {
    .wrapper {
      >.logo {
        background: transparent url("#{$logo-icon}") no-repeat center center;
        background-size: contain;
        width: 58px;
      }
    }
  }
}

nav {
  @include x-calc(width, "100% - 300px");
  font-size: $font-size;
  height: 100%;
  text-align: right;

  button {
    display: none;
    background: 0;
    border: 0;
    outline: 0;
    font-size: 30px;
    color: $color-septenary;
    -webkit-appearance: button;
    height: inherit;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    margin: 0;
    padding: 0;

    >li {
      position: relative;
      display: list-item;
      height: inherit;
      line-height: $height-navbar;
      padding: 0 15px;
      margin: 0;
      box-sizing: border-box;
    }

    >li:last-child {
      padding-right: 0;
    }

    >li:first-child {
      padding-left: 0;
    }
  }

  a {
    color: $color-nav-primary-link;
    text-decoration: none;

    &:active {
      color: $color-nav-primary-link;
    }

    &:hover {
      color: $color-nav-primary-link-hover;
    }

    &:visited {
      color: $color-nav-primary-link-visited;
    }
  }

  i {
    vertical-align: middle;
  }

  .fa-search {
    font-size: $font-size-large;
  }

  @media screen and (max-width: $media-breakpoint-xl) {
    @include x-calc(width, "100% - 250px");

    button {
      display: inline-block;
    }

    ul {
      display: none;
    }
  }

  @media screen and (max-width: $media-breakpoint-xs) {
    @include x-calc(width, "100% - 58px");
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut .5s cubic-bezier(.67, .54, .43, .78) 1 forwards;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;

  .overlay,
  .next-slide,
  .current-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }

  .next-slide,
  .current-slide {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    transform: translateZ(0, 0, 0);
  }

  .next-slide {
    background-image: url("../img/img2.jpg");
    z-index: 2;
  }

  .current-slide {
    background-image: url("../img/banner.jpg");
    z-index: 3;
  }

  .overlay {
    opacity: 1;
    // scss-lint:disable VendorPrefix DuplicateProperty
    background: $background-overlay;
    background: -moz-linear-gradient(top, rgba($color-shade, 0) 0%, rgba($color-shade, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-shade), color-stop(100%, $color-shade));
    background: -webkit-linear-gradient(top, rgba($color-shade, 0) 0%, rgba($color-shade, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba($color-shade, 0) 0%, rgba($color-shade, 1) 100%);
    background: -ms-linear-gradient(top, rgba($color-shade, 0) 0%, rgba($color-shade, 1) 100%);
    background: linear-gradient(to bottom, rgba($color-shade, 0), rgba($color-shade, 0), rgba($color-shade, 1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color-shade}', endColorstr='#{$color-shade}', GradientType=0);
    // scss-lint:enable VendorPrefix DuplicateProperty
    z-index: 4;
  }

  .content {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 150px;
    left: 0;
    vertical-align: bottom;
    z-index: 5;

    @media screen and (max-width: $media-breakpoint-lg) {
      bottom: 90px;
    }
  }

  h4 {
    display: inline-block;
    width: 4em;
    padding: 0 0 $padding-base * 5;
    margin: 0;
    border-bottom: 1px solid $color-accent;
  }

  h1 {
    padding: 0;
    margin: $margin-base * 5 0 0;
  }

  a>h1 {
    padding: 0;
    margin: $margin-base * 5 0 0;
    color: $color-heading-invert;
  }

  p {
    font-size: $font-size;
    line-height: 1.5;
    padding: 0;
    margin: 0 0 $padding-base * 6;
    width: 50%;
    color: $color;

    @media screen and (max-width: $media-breakpoint-lg) {
      width: 100%;
    }
  }

  aside {
    display: block;
    margin-top: 16px;

    svg,
    i {
      width: 16px;
      height: 16px;
      fill: $color-accent;
      color: $color-accent;
      margin-right: $margin-base;
    }

    a {
      text-decoration: none;
      font-family: $font-family-heading;
      letter-spacing: $letter-spacing-heading;
      color: $color;
      text-transform: uppercase;
      margin-right: $margin-base * 3;
    }

    .underline {
      color: $color;
    }

    .underline::after {
      border-color: rgba($color-accent, 0);
    }

    // scss-lint:disable SelectorDepth
    a:hover>.title {
      color: $color-accent;
    }

    a:hover .title::after {
      border-color: rgba($color-accent, 1);
    }
    // scss-lint: enable SelectorDepth
  }

  >.counter {
    position: absolute;
    bottom: 110px;
    left: 0;
    right: 0;
    height: 20px;
    text-align: center;
    min-height: 20px;
    z-index: 6;

    >.circle {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 13px;
      margin: 0 8px;
      background-color: rgba($color-septenary, 0);
      border: 1px solid $color-septenary;
    }

    .circle:hover {
      background-color: rgba($color-septenary, 0.5);
    }

    .circle.current {
      background-color: rgba($color-septenary, 1);
    }

    @media screen and (max-width: $media-breakpoint-lg) {
      display: none;
    }
  }

  .navigate {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 107px;
    line-height: 107px;
    z-index: 5;

    @media screen and (max-width: $media-breakpoint-lg) {
      background: $color-contrast;
      height: 57px;
      line-height: 57px;
    }
  }

  .prev,
  .next {
    font: {
      family: $font-family-heading;
      size: $font-size;
    }
    color: $color-quinary;
    letter-spacing: $letter-spacing-heading;
    text-decoration: none;
    text-transform: uppercase;

    svg {
      vertical-align: baseline;
    }

    span.title {
      position: relative;
      color: $color-septenary;
      margin: 0 15px;
      padding: $padding-base * 1.5 0;
    }

    span.title::after {
      border-color: rgba($color-accent, 0);
    }

    &:hover span.title::after {
      content: "";
      border-color: $color-accent;
    }
  }

  .next {
    text-align: right;
  }

  @media screen and (max-width: $media-breakpoint-lg) {
    .prev,
    .next {
      span.title {
        display: none;
      }
    }
  }
}

section {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: $padding-vertical-row 0;
}

.bg {
  &.primary {
    background-color: $color-primary;
  }

  &.secondary {
    background-color: $color-secondary;
  }

  &.tertiary {
    background-color: $color-tertiary;
  }

  &.quaternary {
    background-color: $color-quaternary;
  }

  &.quinary {
    background-color: $color-quinary;
  }

  &.senary {
    background-color: $color-senary;
  }

  &.septenary {
    background-color: $color-septenary;
  }
}

// footer
footer {
  background: $background;
  padding: $padding-base * 12 0;
  margin: 0;

  .logo {
    display: inline-block;
    text-align: left;
    background: transparent url("#{$logo}") no-repeat 50%;
    background-size: contain;
    width: 80%;
    height: 100%;
    border: 0;
    color: rgba($color-primary, 0);
    text-decoration: none;
    margin-bottom: $margin-base * 3;

    @media screen and (max-width: $media-breakpoint-lg) {
      width: 100%;
      height: 65px;
    }
  }

  header {
    position: relative;
    font-family: $font-family-heading;
    letter-spacing: $letter-spacing-heading;
    margin-bottom: $margin-base * 3;
    text-transform: uppercase;

    &.download {
      margin-top: $margin-base * 3;
    }

    &.download::after {
      display: none;
    }
  }

  header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    font-weight: $font-weight-bold;
    border-bottom: 2px solid $color-accent;

    @media screen and (max-width: $media-breakpoint-lg) {
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 $padding-base * 5;

    li {
      padding: 0;
      margin: 0;
      font-size: $font-size-x-small;
      line-height: 1.8;
    }
  }

  a {
    text-decoration: none;
    color: $color-quinary;
  }

  p.copyright {
    padding-top: $padding-base * 12;
    font-size: $font-size-4x-small;
    color: darken($color-quinary, 20%);

    a {
      color: darken($color-quinary, 20%);
      text-decoration: none;
    }

    *:nth-child(2) {
      padding: 0 $padding-base * 2.5;
      margin: 0 $margin-base * 3;
      border-left: 1px solid darken($color-quinary, 20%);
      border-right: 1px solid darken($color-quinary, 20%);
    }
  }
}
