@function getcolor($key: "primary") {
  @if $theme == null {
      $theme: "light";
  }
  @return map-get(map-get($palette, $theme), $key);
}

// autoprefixing mixins not needed, we are using postcss
@mixin x-calc($property, $expression) {
  #{$property}: calc(#{$expression});
}

@mixin x-fullspace {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@mixin x-keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}
