// BRAND CONFIGURATION
// Place brand colors with their names
$brand: (
  "black": #000,
  "red": #940000,
  "burgundy": #600,
  "gold": #84754e,
  "silver": #818283,
  "quick-silver": #a7a7a7,
  "white": #fff,
  "deep-lilac": #182732,
);

// PALETTE: DARK / LIGHT
// Configure a palette for your project based on brand colors
$palette: (
  light: (),
  dark: (
    "primary": map-get($brand, "black"),
    "secondary": map-get($brand, "red"),
    "tertiary": map-get($brand, "burgundy"),
    "quaternary": map-get($brand, "gold"),
    "quinary": map-get($brand, "silver"),
    "senary": map-get($brand, "quick-silver"),
    "septenary": map-get($brand, "white"),

    "accent": map-get($brand, "red"),
    "compliment": map-get($brand, "burgundy"),
    "highlight": map-get($brand, "gold"),
    "contrast": map-get($brand, "deep-lilac"),
    "shade": map-get($brand, "black"),

    "background": map-get($brand, "black"),
    "foreground": map-get($brand, "white"),
  ),
);
