// COLOR THEME CONFIGURATION
// These variables are the same cross themes,
// Please identify both, a theme variable as "light" or "dark"
// All the variables below get populated through _theme.scss
$theme: "dark";
$theme-fullwidth: 100%;

// theme palette: main colors
$color-primary: getcolor("primary");
$color-secondary: getcolor("secondary");
$color-tertiary: getcolor("tertiary");
$color-quaternary: getcolor("quaternary");
$color-quinary: getcolor("quinary");
$color-senary: getcolor("senary");
$color-septenary: getcolor("septenary");

// theme tone: assigned meaningfulness
$color-accent: getcolor("accent");
$color-highlight: getcolor("highlight");
$color-compliment: getcolor("compliment");

// theme neutrals: mix of black/grey/white
$color-shade: getcolor("shade");
$color-shade-90: rgba(getcolor("shade"), 0.9);
$color-shade-80: rgba(getcolor("shade"), 0.8);
$color-shade-70: rgba(getcolor("shade"), 0.7);
$color-shade-60: rgba(getcolor("shade"), 0.6);
$color-shade-50: rgba(getcolor("shade"), 0.5);
$color-shade-40: rgba(getcolor("shade"), 0.4);
$color-shade-30: rgba(getcolor("shade"), 0.3);
$color-shade-20: rgba(getcolor("shade"), 0.2);
$color-shade-10: rgba(getcolor("shade"), 0.1);

// theme backgrounds
$background: getcolor("background");
$background-header: getcolor("background");
$background-footer: getcolor("background");
$background-main: getcolor("foreground");
$background-invert: getcolor("foreground");
$background-overlay:rgba($background, 0.5);

// theme primary navigation
$color-nav-primary-link: getcolor("foreground");
$color-nav-primary-link-hover: getcolor("foreground");
$color-nav-primary-link-visited: getcolor("foreground");
$color-nav-secondary-link: getcolor("senary");
$color-nav-secondary-link-hover: getcolor("senary");
$color-nav-secondary-link-visited: getcolor("senary");
$color-text-link: getcolor("septenary");
$color-text-link-visited: getcolor("septenary");
$color-text-link-hover: getcolor("septenary");

// theme images
$logo: "../../img/logo.png";
$banner: "../../img/img1.jpg";

// borders and shadows
$border-color: getcolor("septenary");
$box-shadow-color: $color-shade-10;
$text-shadow-color: $color-shade-10;

// theme fonts
$font-family: Arial, sans-serif;
$color: getcolor("foreground");
$color-invert: getcolor("background");
$font-weight: 300;
$letter-spacing: 0;
$font-size: 14px;
$line-height: 1.4em;

// font weights
$font-weight-thin: 100;
$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-bolder: 500;

// font sizes plus
$font-size-x-small: 11px;
$font-size-small: 13px;
$font-size-normal: 14px;
$font-size-large: 15px;
$font-size-x-large: 16px;
$font-size-xx-large: 18px;
$font-size-xxx-large: 20px;

// theme headings
$font-family-heading: "Colossalis", Impact, sans-serif;
$color-heading: getcolor("accent");
$color-heading-invert: getcolor("quinary");
$font-weight-heading: $font-weight-thin;
$letter-spacing-heading: 2px;
$line-height-heading: 1.2em;

// font sizes headings
$font-size-h1: 60px;
$font-size-h2: 48px;
$font-size-h3: 36px;
$font-size-h4: 30px;
$font-size-h5: 16px;
$font-size-h6: 13px;

// base paddings & margins
$padding-base: 3px;
$margin-base: 4px;
$padding-vertical-row: 70px;
$padding-horizontal-row: 120px;
$padding-vertical-row-mobile: 36px;
$padding-horizontal-row-mobile: 36px;

// navigation
$navbar-height: 120px;

// custom easing functions
$ease-out: cubic-bezier(.41, .91, .52, .94);
$ease-in: cubic-bezier(0, 0, 0, 1.1);
$ease-in-out: ease-in-out;
$ease: ease;

// breaking points based on bootstrap
