.explore {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.explore .gallery {
  position: relative;
  height: 580px;
  width: 100%;
  overflow: hidden;
}

.explore .gallery .preview {
  position: absolute;
  width: 35%;
  top: 0;
  bottom: 0;
}

.explore .gallery .preview a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(148, 0, 0, 0);
  transition: background-color 300ms ease-in-out;
}

.explore .gallery .preview a span {
  position: absolute;
  top: 48%;
  left: 30%;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-family: Colossalis;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 5px 0;
  opacity: 0;
  transition: all 300ms ease;
}

.explore .gallery .preview a span::before {
  content: "\2190";
  display: inline-block;
}

.explore .gallery .preview a span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
  content: "";
}

.explore .gallery .preview a:hover {
  background-color: rgba(148, 0, 0, 0.7);
}

.explore .gallery .preview a:hover span {
  opacity: 1;
  transform: translateX(50%);
}

.explore .gallery .view.current {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  bottom: 0;
  z-index: 1;
  background-color: #000;
  overflow: hidden;
}

.explore .gallery .preview.next {
  z-index: 3;
  left: 50%;
  background-color: #940000;
  height: 100%;
  background: url('img/img7.jpg') left center no-repeat;
  background-size: cover;
}

.explore .gallery .preview.next-next {
  z-index: 4;
  left: 75%;
  background-color: #777;
  background: url('img/img6.jpg') left center no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.8);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: transform 1s linear;
  -ms-transition: transform 1s linear;
  -webkit-transition: transform 400ms ease-out;
  transition: transform 400ms ease-out;
}

.explore .gallery .preview.next:hover+.preview.next-next {
  -ms-transform: translate3d(15%, 0, 0);
  -moz-transform: translate3d(15%, 0, 0);
  -webkit-transform: translate3d(15%, 0, 0);
  transform: translate3d(15%, 0, 0);
}

.explore .gallery .preview.next-next:hover {
  -ms-transform: translate3d(-15%, 0, 0);
  -moz-transform: translate3d(-15%, 0, 0);
  -webkit-transform: translate3d(15%, 0, 0);
  transform: translate3d(-15%, 0, 0);
}

.explore .gallery .view.current img {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: auto;
  vertical-align: middle;
  text-align: center;
}

.explore .gallery .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}