.DashboardClear
{
    clear: both;
}

.photoDashboardSettingsRow
{
    margin-top: 15px;
    padding: 5px 0 5px 200px;
    clear: both;
}

.photoDashboardSettingsRow > input[type="text"] {
    border: 2px solid #CCCCCC;
    margin: 0;
    padding: 5px;
}

.photoDashboardSettingsRow > select {
    border: 2px solid #CCCCCC;
    margin: 0;
    padding: 5px;
}

.photoDashboardSettingsRow > span {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}

.photoDashboardSettingsRow > label {
  display: inline-block;
  font-weight: bold;
  margin-left: -200px;
  text-align: right;
	vertical-align: middle;
  width: 200px;
  max-width: inherit !important;
}

.ssHelpIcon {
    background: #000000;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-left: 4px;
    text-align: center !important;
    width: 16px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.ssHelpContainer {
	background: #666666;
	border-radius: 6px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
	position: absolute;
	width: 300px;
	z-index: 2;
    display: none;
}

.divNoPhotos
{
    margin-left: 4px;
    float: left;
    width: 41%;
}

.txtNoPhotos
{
    width: 100%;
    border: 2px solid #CCCCCC;
    margin: 0;
    padding: 5px;
    height: 6em;
}

/*Edit Stand Alone*/
.PhotoDashboardSettingsContainer
{
    margin-top: 10px;
}

div.pdFormRow
{
    margin-bottom: 10px;
}

div.pdFormRow > textarea
{
    margin-top: 2px;
}

div.pdFormRow > input
{
    margin-top: 2px;
}

.MSChange
{
    margin-top: 10px;
}

.pdFormRowPrimaryAction
{
    background: #666666;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 14px;
    padding: 6px 10px;
    text-decoration: none !important;
    cursor: pointer;
}

.pdFormRowPrimaryAction:hover
{
    background: #525252;
}

.MSUpdatePhoto
{
    background-color: #baddff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #000;
    font-size: 15px;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}

.MSUpdatePhoto:hover
{
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#95caff),color-stop(1,#79bbff));
    background: -moz-linear-gradient(center top,#95caff 5%,#79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',endColorstr='#79bbff');
    background-color: #95caff;
}