.mobileapp .download-our-tv-app {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000;
}

.mobileapp .download-our-tv-app h1 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin: 0 0 8px;
  padding: 0;
  font-weight: 100;
}

.mobileapp .download-our-tv-app p {
  margin-bottom: 16px;
}

.mobileapp .download-our-tv-app video[poster] {
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 979px) {
  .mobileapp .download-our-tv-app {
    padding: 104px 0;
  }

  .mobileapp .download-our-tv-app h1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .mobileapp .download-our-tv-app {
    padding-bottom: 70px;
  }
}

.mobileapp .download-our-tv-app p {
  width: 80%
}

.mobileapp-modal-video video {
  width: 100%;
}

.mobileapp .btnPlayVideo {
  background-image: url('../img/PlayButtons.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-position: center;
  border: 0px;
  z-index: 99;
  width: 200px;
  height: 96px;
}

.mobileapp .btnPlayVideo:hover {
  display: block !important;
  background-image: url('../img/PlayButtons_Hover.png') !important;
  cursor: pointer;
}

.mobileapp .bor {
  border: 4px solid #464646;
  border-radius: .2em;
  width: 100%;
  box-sizing: border-box;
}

.mobileapp .tv-logo-margins div {
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .app-section-03 {
    background-size: 225%;
    background-position: center;
  }

  /*.btn2 {
    margin-right: 20px;
  }*/
}

@media (max-width: 991px) {
  .mobileapp .download-our-tv-app h1 {
    letter-spacing: 0.02em;
    text-align: left;
  }

  .mobileapp .m20 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .mobileapp .button>button {
    font-size: 80px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .MobVideoImg {
    padding-right: 110px;
  }
}

@media (min-width: 991px) {
  .mobileapp .button>button {
    text-transform: uppercase !important;
    letter-spacing: .0em !important;
    font-weight: 100;
    background: none;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 120px;
    font-weight: 100;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    padding: 70px 95px;
  }

  .mobileapp button::before,
  .mobileapp button::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}