video[poster] {
  top: 0 !important;
  left: 0 !important;
  right: 0;
  bottom: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

#socialMedia {
  padding-bottom: 148px;
  color: #fff;
}

#socialMedia h1 {
  padding-top: 34px;
  margin-bottom: 14px;
  font-size: 80px !important;
  background: url('../Icons/HomeHero-ContentLine.png') no-repeat top left;
  padding: 0px;
  padding-top: 45px;
}

#socialMedia p {
  font-size: 18px;
}

.download-our-tv-app h1 {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin: 0 0 8px;
  padding: 0;
  font-weight: 100;
}

.download-our-tv-app p {
  margin-bottom: 16px;
}

@media (min-width: 1440px) {
  #mHeader {
    padding-bottom: 225px;
    overflow: visible
  }

  .bg2 {
    background-size: 62% !important;
    padding-bottom: 100px;
  }
}

@media (min-width: 979px) {
  .download-our-tv-app {
    padding: 104px 0;
  }

  .download-our-tv-app h1 {
    padding-top: 30px;
  }
}

.btn2 {
  margin-top: 63px;
  font-family: 'Colossalis';
  border-radius: 0px;
  border: 0px;
  color: #960000;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: .23em;
  font-size: 18px;
  padding: 12px 42px;
  border: 2px solid #960000;
  border-radius: 0;
}

button.btn2:hover,
button.btn2:focus,
button.btn2:active {
  color: #960000 !important;
  background: transparent !important;
  box-shadow: none !important;
  border: 2px solid #960000 !important;
}

.officialPlatform h2 {
  color: #000;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 60px;
}

.bg2 {
  background-size: 90%;
}

.app-section-03 {
  clear: both;
}

#myBtn {
  font-family: Colossalis;
  letter-spacing: .2em;
  text-transform: uppercase;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background: #960000;
  color: #fff;
  cursor: pointer;
}

#main-menu {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-top: 0 36px;
  padding-bottom: 0;
  z-index: 99 !important
}

.slide-text {
  min-height: 150px;
  float: left;
  display: block !important
}

.bg-dark {
  background-color: rgba(0, 0, 0, .5) !important;
}

@media (max-width: 767px) {
  .button>button {
    padding: 30px;
  }

  .download-our-tv-app {
    padding-bottom: 70px;
  }
}

.download-our-tv-app p {
  width: 80%
}

.gradientback {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
  background: -moz-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 255, 241, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000', GradientType=0);
}

#carouselExampleNew img {
  margin: 0 auto;
  display: block;
  max-height: 300px;
  padding: 5px;
}

#modal-video video {
  width: 100%;
}

.download-our-tv-app {
  padding-top: 60px;
  padding-bottom: 60px;
}

.download-our-tv-app p {}

.btnPlayVideo {
  background-image: url('../img/PlayButtons.png');
  background-repeat: no-repeat;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-position: center;
  border: 0px;
  z-index: 99;
  width: 200px;
  height: 96px;
}

.btnPlayVideo:hover {
  display: block !important;
  background-image: url('../img/PlayButtons_Hover.png') !important;
  cursor: pointer;
}

.bor {
  border: 4px solid #464646;
  border-radius: .2em;
  width: 100%;
  box-sizing: border-box;
}

.TvLogoMargins div {
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .bg3 {
    background-size: 225%;
    background-position: center;
  }

  .btn2 {
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .download-our-tv-app h1 {
    letter-spacing: 0.02em;
    text-align: left;
  }

  .m20 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .button>button {
    font-size: 80px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .MobVideoImg {
    padding-right: 110px;
  }
}

@media (min-width: 991px) {
  .button>button {
    text-transform: uppercase !important;
    letter-spacing: .0em !important;
    font-weight: 100;
    background: none;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 120px;
    font-weight: 100;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    padding: 70px 95px;
  }

  button::before,
  button::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}