// @COLOR THEME CONFIGURATION
// configuring application variables
$theme: "light";
$color-primary: getcolor("primary");
$color-accent: getcolor("accent");
$color-highlight: getcolor("highlight");
$color-compliment: getcolor("compliment");
$color-shade: getcolor("neutral1");
$color-shade-lighter: getcolor("neutral2");

// defining generic variables
$color-background: getcolor("background");
$color-background-invert: getcolor("foreground");
$color-text: getcolor("foreground");
$color-text-invert: getcolor("background");
$color-text-heading: getcolor("accent");

// defining links
$color-nav-primary-link: getcolor("foreground");
$color-nav-secondary-link: getcolor("neutral1");
$color-text-link: getcolor("neutral2");
$color-text-link-visited: getcolor("neutral1");
$color-text-link-hover: getcolor("neutral2");

// borders and shadows
$color-border: getcolor("neutral2");
$color-shade: getcolor("neutral1");
$color-shadow: lighten(getcolor("neutral2"), 20%);

// detailed color options: new variables to be added...
$color-header: getcolor("background");
$color-footer: getcolor("background");
